In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import warnings 
warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv('CarsData.csv')

In [8]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Manufacturer
0,I10,2017,7495,Manual,11630,Petrol,145,60.1,1.0,hyundi
1,Polo,2017,10989,Manual,9200,Petrol,145,58.9,1.0,volkswagen
2,2 Series,2019,27990,Semi-Auto,1614,Diesel,145,49.6,2.0,BMW
3,Yeti Outdoor,2017,12495,Manual,30960,Diesel,150,62.8,2.0,skoda
4,Fiesta,2017,7999,Manual,19353,Petrol,125,54.3,1.2,ford

In [9]:
dfd = pd.DataFrame(df.describe(include='all').transpose())
dfd

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
model,97712,196,Fiesta,6509,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,97712.0,NaN,NaN,NaN,2017.066502,2.118661,1970.0,2016.0,2017.0,2019.0,2024.0
price,97712.0,NaN,NaN,NaN,16773.487555,9868.552222,450.0,9999.0,14470.0,20750.0,159999.0
transmission,97712,4,Manual,55502,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mileage,97712.0,NaN,NaN,NaN,23219.475499,21060.882301,1.0,7673.0,17682.5,32500.0,323000.0
fuelType,97712,5,Petrol,53982,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tax,97712.0,NaN,NaN,NaN,120.142408,63.35725,0.0,125.0,145.0,145.0,580.0
mpg,97712.0,NaN,NaN,NaN,55.205623,16.181659,0.3,47.1,54.3,62.8,470.8
engineSize,97712.0,NaN,NaN,NaN,1.664913,0.558574,0.0,1.2,1.6,2.0,6.6
Manufacturer,97712,9,ford,17811,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
# SUMMARY

def summary(df):
    print(f'data shape: {df.shape}')
    summ = pd.DataFrame(df.dtypes, columns=['Data Type'])
    summ['Missing#'] = df.isna().sum()
    summ['Missing%'] = (df.isna().sum())/len(df)
    summ['Dups'] = df.duplicated().sum()
    summ['Uniques'] = df.nunique().values
    summ['Count'] = df.count().values
    desc = pd.DataFrame(df.describe(include='all').transpose())
    summ['Top'] = desc['top'].values
    summ['Min'] = desc['min'].values
    summ['Max'] = desc['max'].values
    summ['Average'] = desc['mean'].values
    summ['Standard Deviation'] = desc['std'].values
    summ['First Value'] = df.loc[0].values
    summ['Last Value'] = df.loc[97711].values
    

    display(summ)

summary(df)

NameError: name 'df' is not defined

In [11]:
cat_cols = df.select_dtypes(include=['object']).columns.to_list()
cat_cols

['model', 'transmission', 'fuelType', 'Manufacturer']

In [12]:
#num_cols = df.select_dtypes(include=['float', 'int']).columns.to_list()
#num_cols

In [13]:
dfc = df .select_dtypes (['float64', 'int64'])
dfc

       year  price  mileage  tax   mpg  engineSize
0      2017   7495    11630  145  60.1         1.0
1      2017  10989     9200  145  58.9         1.0
2      2019  27990     1614  145  49.6         2.0
3      2017  12495    30960  150  62.8         2.0
4      2017   7999    19353  125  54.3         1.2
...     ...    ...      ...  ...   ...         ...
97707  2017  10447     8337  145  54.3         1.0
97708  2014  14995    25372   30  61.4         2.0
97709  2017   8950    19910  125  54.3         1.2
97710  2017  10700    24468  125  50.4         1.4
97711  2019  15798    10586  150  48.7         1.5

[97712 rows x 6 columns]

In [14]:
dfc.columns

Index(['year', 'price', 'mileage', 'tax', 'mpg', 'engineSize'], dtype='object')

In [15]:

def count_outliers_for_column(df, column_name, threshold=3):
   
    column_data = df[column_name]
    
    # Calculate z-score for the column
    z_scores = np.abs((column_data - column_data.mean()) / column_data.std())

    # Count number of outliers based on the threshold
    outliers_count = (z_scores > threshold).sum()

    return outliers_count

# Example usage:
# Assuming df is your dataframe and 'column_name' is the name of the column you want to check
# outliers_count = count_outliers_for_column(df, 'column_name')
# print("Number of outliers for column '{}': {}".format('column_name', outliers_count))

In [16]:
def count_outliers_for_column(df, threshold=3):

    for column_name in df.columns:
   
        column_data = df[column_name]
    
    # Calculate z-score for the column
        z_scores = np.abs((column_data - column_data.mean()) / column_data.std())

    # Count number of outliers based on the threshold
        outliers_count = (z_scores > threshold).sum()

        display(outliers_count)

In [17]:
outliers_df = count_outliers_for_column(dfc)
result_df = pd.DataFrame(outliers_df)
result_df

1303

1748

1624

420

590

648

Empty DataFrame
Columns: []
Index: []

In [23]:

def summary_out(dfc, threshold):
    for column_name in dfc.columns:
        column_data = dfc[column_name]

        # Initialize the summary DataFrame for the current column
        summ_out = pd.DataFrame(columns=['data_türü', 'esik_degeri', 'ayrik_deger_sayisi'])
        
        # Add data type and threshold to the summary DataFrame
        summ_out.loc[column_name] = [dfc.dtypes[column_name], threshold, np.nan]
   
        # Calculate z-score for the column
        z_scores = np.abs((column_data - column_data.mean()) / column_data.std())

        # Count number of outliers based on the threshold
        outliers_count = (z_scores > threshold).sum()

        # Update the outliers count in the summary DataFrame
        summ_out.loc[column_name, 'ayrik_deger_sayisi'] = outliers_count
    
        display(summ_out)

# Example usage:
# Assuming dfc is your dataframe and thres is your threshold
# summary_out(dfc, thres)

In [24]:
summary_out(dfc, 3)

     data_türü  esik_degeri  ayrik_deger_sayisi
year     int64            3              1303.0

      data_türü  esik_degeri  ayrik_deger_sayisi
price     int64            3              1748.0

        data_türü  esik_degeri  ayrik_deger_sayisi
mileage     int64            3              1624.0

    data_türü  esik_degeri  ayrik_deger_sayisi
tax     int64            3               420.0

    data_türü  esik_degeri  ayrik_deger_sayisi
mpg   float64            3               590.0

           data_türü  esik_degeri  ayrik_deger_sayisi
engineSize   float64            3               648.0

In [20]:
# OUTLIERS 

data = df['price']  
z_scores = np.abs((data - np.mean(data)) / np.std(data))  
threshold = 3  

df1 = pd.DataFrame(outliers_index).transpose()
df2 = pd.DataFrame(outliers_values)

df_outliers = pd.concat([df1,df2], axis=1)
df_outliers.columns = ['index', 'outlier_values']
df_outliers

NameError: name 'outliers_index' is not defined

In [ ]:
from scipy import stats

In [ ]:
z = np.abs(stats.zscore(df.price))
z.describe()

count    97712.000000
mean         0.718446
std          0.695587
min          0.000153
25%          0.304756
50%          0.605308
75%          0.909813
max         14.513400
Name: price, dtype: float64

In [ ]:
np.where(z>3)[0].shape

(1748,)

In [ ]:
df.price[(z>3)].describe()

count      1748.000000
mean      57878.605835
std       14652.958425
min       46390.000000
25%       49399.750000
50%       53750.000000
75%       59995.000000
max      159999.000000
Name: price, dtype: float64

In [ ]:
def outlier_thresholds(dataframe, col_name, q1=0.25, q3=0.75):
    quartile1 = dataframe[col_name].quantile(q1)
    quartile3 = dataframe[col_name].quantile(q3)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

In [ ]:
outlier_thresholds(df_num, 'price')

(-6127.5, 36876.5)

In [ ]:
def check_outlier(dataframe, col_name):
    low_limit, up_limit = outlier_thresholds(dataframe, col_name)
    if dataframe[(dataframe[col_name] > up_limit) | (dataframe[col_name] < low_limit)].any(axis=None):
        return True
    else:
        return False

In [ ]:
check_outlier(df_num, 'price')

True

In [ ]:
def grab_outliers(dataframe, col_name, index=False):
    low, up = outlier_thresholds(dataframe, col_name)

    if dataframe[((dataframe[col_name] < low) | (dataframe[col_name] > up))].shape[0] > 10:
        print(dataframe[((dataframe[col_name] < low) | (dataframe[col_name] > up))].head())
    else:
        print(dataframe[((dataframe[col_name] < low) | (dataframe[col_name] > up))])

    if index:
        outlier_index = dataframe[((dataframe[col_name] < low) | (dataframe[col_name] > up))].index
        return outlier_index

In [ ]:
grab_outliers(df_num, 'price', True)

     year  price  mileage  tax   mpg  engineSize
20   2020  37000     1000  145  38.2         2.0
72   2016  41211    46180  570  25.4         4.4
98   2018  37692    24786  145  47.1         3.0
104  2019  41995     1367  150  40.4         2.0
135  2020  37444     3000  145  32.1         2.0

Index([   20,    72,    98,   104,   135,   141,   142,   158,   182,   186,
       ...
       97430, 97462, 97486, 97494, 97495, 97535, 97588, 97606, 97609, 97616],
      dtype='int64', length=3825)