In [74]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import warnings 
warnings.filterwarnings('ignore')

In [75]:
# Import Data 
data = pd.read_csv('/Users/aycan/Documents/Greenbootcamps04032024/DS_final_project/data/Cardetails-2.csv')

In [76]:
df = pd.DataFrame(data)

In [77]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [78]:
## Data Cleaning  and Preprocessing
df.shape

(8128, 13)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [80]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [81]:
# Lets make a summary table for missing values and percentages

def missing_value_summary(df):
    
    missing_count = df.isnull().sum()

    total_rows = len(df)
    missing_percentage = (missing_count / total_rows) * 100

    summary_df = pd.DataFrame({
        'Missing Values': missing_count,
        'Percentage': missing_percentage
    })

    return summary_df

missing_value_summary(df)

               Missing Values  Percentage
name                        0    0.000000
year                        0    0.000000
selling_price               0    0.000000
km_driven                   0    0.000000
fuel                        0    0.000000
seller_type                 0    0.000000
transmission                0    0.000000
owner                       0    0.000000
mileage                   221    2.718996
engine                    221    2.718996
max_power                 215    2.645177
torque                    222    2.731299
seats                     221    2.718996

In [82]:
# We can drop the missing values (Because it is less than %3)

df.dropna(inplace=True) 
df.reset_index(drop=True, inplace=True)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7906 entries, 0 to 7905
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7906 non-null   object
 1   year           7906 non-null   int64
 2   selling_price  7906 non-null   int64
 3   km_driven      7906 non-null   int64
 4   fuel           7906 non-null   object
 5   seller_type    7906 non-null   object
 6   transmission   7906 non-null   object
 7   owner          7906 non-null   object
 8   mileage        7906 non-null   object
 9   engine         7906 non-null   object
 10  max_power      7906 non-null   object
 11  torque         7906 non-null   object
 12  seats          7906 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 803.1+ KB

In [84]:
# Lets make a summary table for duplicated values and percentages

def dup_summary(df):
  
    summ = pd.DataFrame(df.dtypes, columns=['Data Type'])

    summ['Duplicated Rows'] = df.duplicated().sum()
    summ['Count'] = df.count().values
    summ['Duplicated Rows %'] = ((df.duplicated().sum()) / len(df))*100
 
    display(summ)

dup_summary(df)

              Data Type  Duplicated Rows  Count  Duplicated Rows %
name             object             1189   7906          15.039211
year              int64             1189   7906          15.039211
selling_price     int64             1189   7906          15.039211
km_driven         int64             1189   7906          15.039211
fuel             object             1189   7906          15.039211
seller_type      object             1189   7906          15.039211
transmission     object             1189   7906          15.039211
owner            object             1189   7906          15.039211
mileage          object             1189   7906          15.039211
engine           object             1189   7906          15.039211
max_power        object             1189   7906          15.039211
torque           object             1189   7906          15.039211
seats           float64             1189   7906          15.039211

In [85]:
# Lets check where is these duplicated values?

duplicated_rows = df[df.duplicated()]
duplicated_indexes = duplicated_rows.index

print("Indexes of duplicated rows:")
print(duplicated_indexes)

Indexes of duplicated rows:
Index([ 281,  286,  357,  358,  359,  374,  395,  396,  397,  398,
       ...
       7764, 7765, 7766, 7767, 7768, 7769, 7770, 7895, 7904, 7905],
      dtype='int64', length=1189)

In [86]:
# Lets control one of them (for the row 287)
df.iloc[280:285]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
280,Hyundai Grand i10 Sportz,2017,450000,35000,Petrol,Individual,Manual,First Owner,18.9 kmpl,1197 CC,82 bhp,114Nm@ 4000rpm,5.0
281,Hyundai Grand i10 Sportz,2017,450000,35000,Petrol,Individual,Manual,First Owner,18.9 kmpl,1197 CC,82 bhp,114Nm@ 4000rpm,5.0
282,Hyundai i10 Sportz AT,2013,290000,50000,Petrol,Individual,Automatic,First Owner,16.95 kmpl,1197 CC,78.9 bhp,111.8Nm@ 4000rpm,5.0
283,Maruti Swift VXI Deca,2016,520000,20000,Petrol,Individual,Manual,First Owner,20.4 kmpl,1197 CC,81.80 bhp,113Nm@ 4200rpm,5.0
284,Hyundai i10 Sportz AT,2011,265000,20000,Petrol,Individual,Automatic,First Owner,16.95 kmpl,1197 CC,78.9 bhp,111.8Nm@ 4000rpm,5.0

In [87]:
# We should remove duplicated values

df = df.drop_duplicates()
df.reset_index(drop=True, inplace=True)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6717 entries, 0 to 6716
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   object
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   object
 5   seller_type    6717 non-null   object
 6   transmission   6717 non-null   object
 7   owner          6717 non-null   object
 8   mileage        6717 non-null   object
 9   engine         6717 non-null   object
 10  max_power      6717 non-null   object
 11  torque         6717 non-null   object
 12  seats          6717 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 682.3+ KB

In [89]:
# drop 'torque' column
df = df.drop(columns=['torque'])

In [90]:
## Lets convert some non-numeric columns into numeric

# Start with 'mileage' column

df.mileage.unique()

array(['23.4 kmpl', '21.14 kmpl', '17.7 kmpl', '23.0 kmpl', '16.1 kmpl',
       '20.14 kmpl', '17.3 km/kg', '23.59 kmpl', '20.0 kmpl',
       '19.01 kmpl', '17.3 kmpl', '19.3 kmpl', '18.9 kmpl', '18.15 kmpl',
       '24.52 kmpl', '19.7 kmpl', '22.54 kmpl', '21.0 kmpl', '25.5 kmpl',
       '26.59 kmpl', '21.5 kmpl', '20.3 kmpl', '21.4 kmpl', '24.7 kmpl',
       '18.2 kmpl', '16.8 kmpl', '24.3 kmpl', '14.0 kmpl', '18.6 kmpl',
       '33.44 km/kg', '23.95 kmpl', '17.0 kmpl', '20.63 kmpl',
       '13.93 kmpl', '16.0 kmpl', '17.8 kmpl', '18.5 kmpl', '12.55 kmpl',
       '12.99 kmpl', '14.8 kmpl', '13.5 kmpl', '26.0 kmpl', '20.65 kmpl',
       '27.3 kmpl', '11.36 kmpl', '17.68 kmpl', '14.28 kmpl',
       '18.53 kmpl', '14.84 kmpl', '21.12 kmpl', '20.36 kmpl',
       '21.27 kmpl', '18.16 kmpl', '22.0 kmpl', '25.1 kmpl', '20.51 kmpl',
       '21.66 kmpl', '25.2 kmpl', '22.9 kmpl', '16.02 kmpl', '20.54 kmpl',
       '22.77 kmpl', '15.71 kmpl', '23.1 kmpl', '19.02 kmpl',
       '19.81 kmpl', '26.2 km/kg', '16.47 kmpl', '15.04 kmpl',
       '19.1 kmpl', '21.79 kmpl', '18.8 kmpl', '21.21 kmpl', '15.37 kmpl',
       '11.79 kmpl', '19.0 kmpl', '14.3 kmpl', '15.8 kmpl', '15.1 kmpl',
       '19.09 kmpl', '22.32 kmpl', '21.9 kmpl', '14.53 kmpl',
       '21.63 kmpl', '20.85 kmpl', '20.45 kmpl', '19.67 kmpl',
       '23.01 kmpl', '20.77 kmpl', '17.92 kmpl', '17.01 kmpl',
       '22.37 kmpl', '19.33 kmpl', '9.5 kmpl', '12.83 kmpl', '22.48 kmpl',
       '16.78 kmpl', '14.67 kmpl', '15.0 kmpl', '13.96 kmpl', '18.0 kmpl',
       '12.07 kmpl', '26.21 kmpl', '10.8 kmpl', '16.3 kmpl', '13.6 kmpl',
       '14.74 kmpl', '15.6 kmpl', '19.56 kmpl', '22.69 kmpl',
       '19.16 kmpl', '18.12 kmpl', '12.1 kmpl', '17.5 kmpl', '42.0 kmpl',
       '20.4 kmpl', '21.1 kmpl', '19.44 kmpl', '13.0 kmpl', '21.43 kmpl',
       '22.95 kmpl', '16.2 kmpl', '15.3 kmpl', '28.09 kmpl', '17.4 kmpl',
       '19.4 kmpl', '26.6 km/kg', '17.6 kmpl', '28.4 kmpl', '14.1 kmpl',
       '25.17 kmpl', '22.74 kmpl', '17.57 kmpl', '16.95 kmpl',
       '19.49 kmpl', '17.21 kmpl', '13.2 kmpl', '14.2 kmpl', '26.8 kmpl',
       '25.4 kmpl', '11.5 kmpl', '27.28 kmpl', '17.97 kmpl', '12.8 kmpl',
       '16.55 kmpl', '12.05 kmpl', '14.07 kmpl', '21.02 kmpl',
       '11.57 kmpl', '17.9 kmpl', '15.96 kmpl', '17.1 kmpl', '17.19 kmpl',
       '21.01 kmpl', '24.0 kmpl', '25.6 kmpl', '21.38 kmpl', '23.84 kmpl',
       '23.08 kmpl', '14.24 kmpl', '20.71 kmpl', '15.64 kmpl',
       '14.5 kmpl', '16.34 kmpl', '27.39 kmpl', '11.1 kmpl', '13.9 kmpl',
       '20.88 km/kg', '20.92 kmpl', '23.8 kmpl', '24.4 kmpl',
       '15.29 kmpl', '21.19 kmpl', '22.5 kmpl', '19.6 kmpl', '23.65 kmpl',
       '25.32 kmpl', '23.5 kmpl', '16.6 kmpl', '23.9 kmpl', '20.8 kmpl',
       '27.62 kmpl', '12.9 kmpl', '25.44 kmpl', '17.88 kmpl', '22.7 kmpl',
       '17.2 kmpl', '15.42 kmpl', '19.68 kmpl', '18.7 kmpl', '15.4 kmpl',
       '19.34 kmpl', '22.71 kmpl', '25.8 kmpl', '13.7 kmpl', '12.2 kmpl',
       '18.49 kmpl', '9.0 kmpl', '0.0 kmpl', '13.58 kmpl', '10.1 kmpl',
       '20.5 kmpl', '25.0 kmpl', '10.5 kmpl', '22.07 kmpl', '22.3 kmpl',
       '15.26 kmpl', '20.62 kmpl', '27.4 kmpl', '23.2 kmpl', '14.4 kmpl',
       '18.4 kmpl', '30.46 km/kg', '14.02 kmpl', '11.0 kmpl', '20.6 kmpl',
       '22.05 kmpl', '20.2 kmpl', '18.1 kmpl', '22.1 kmpl', '19.87 kmpl',
       '13.01 kmpl', '18.06 kmpl', '26.1 kmpl', '16.52 kmpl',
       '13.55 kmpl', '24.2 kmpl', '25.83 kmpl', '11.2 kmpl', '17.09 kmpl',
       '21.03 kmpl', '17.45 kmpl', '21.64 kmpl', '21.94 km/kg',
       '13.87 kmpl', '19.98 kmpl', '20.52 kmpl', '23.57 kmpl',
       '11.7 kmpl', '17.43 kmpl', '18.88 kmpl', '13.68 kmpl',
       '11.18 kmpl', '20.89 kmpl', '11.8 kmpl', '19.62 kmpl', '21.7 kmpl',
       '14.9 kmpl', '19.5 kmpl', '10.91 kmpl', '15.7 kmpl', '20.73 kmpl',
       '15.85 kmpl', '20.7 kmpl', '14.23 kmpl', '16.5 kmpl', '17.36 kmpl',
       '12.6 kmpl', '16.36 kmpl', '14.95 kmpl', '16.9 kmpl', '19.2 kmpl',
       '16.96 kmpl', '22.15 kmpl', '18.78 kmpl', '19.61 kmpl',
       '17.71 kmpl', '18.3 kmpl', '19.12 kmpl', '19.72 kmpl', '12.0 kmpl',
       '11.4 kmpl', '23.03 kmpl', '11.07 kmpl', '15.9 kmpl', '17.67 kmpl',
       '20.46 kmpl', '13.1 kmpl', '13.45 km/kg', '24.8 kmpl',
       '15.73 kmpl', '15.11 kmpl', '12.7 kmpl', '21.2 kmpl', '20.38 kmpl',
       '21.56 kmpl', '13.22 kmpl', '14.49 kmpl', '15.05 kmpl',
       '23.26 kmpl', '15.41 kmpl', '13.8 kmpl', '22.27 kmpl',
       '32.52 km/kg', '14.66 kmpl', '12.12 kmpl', '16.84 kmpl',
       '14.09 kmpl', '14.7 kmpl', '13.4 kmpl', '15.5 kmpl', '13.49 kmpl',
       '11.88 km/kg', '14.6 kmpl', '10.75 kmpl', '24.5 kmpl',
       '11.74 kmpl', '16.07 kmpl', '15.63 kmpl', '26.3 km/kg',
       '23.7 km/kg', '25.47 kmpl', '17.05 kmpl', '23.3 kmpl', '11.9 kmpl',
       '13.38 kmpl', '20.86 kmpl', '19.2 km/kg', '10.9 kmpl',
       '18.25 kmpl', '15.2 kmpl', '20.37 kmpl', '17.8 km/kg', '21.8 kmpl',
       '11.96 kmpl', '24.04 kmpl', '19.69 kmpl', '13.73 kmpl',
       '21.04 kmpl', '25.01 kmpl', '10.93 kmpl', '10.9 km/kg',
       '24.29 kmpl', '13.44 kmpl', '20.07 kmpl', '21.1 km/kg',
       '19.08 kmpl', '20.34 kmpl', '11.68 kmpl', '12.5 kmpl', '12.3 kmpl',
       '23.87 kmpl', '16.38 kmpl', '17.42 kmpl', '10.0 kmpl',
       '18.24 kmpl', '10.71 kmpl', '19.59 kmpl', '16.7 kmpl',
       '19.83 kmpl', '21.76 kmpl', '16.05 kmpl', '20.28 kmpl',
       '16.25 kmpl', '16.73 kmpl', '18.48 kmpl', '13.2 km/kg',
       '21.4 km/kg', '14.99 kmpl', '18.76 kmpl', '16.4 kmpl',
       '19.64 kmpl', '14.94 kmpl', '16.6 km/kg', '16.0 km/kg',
       '17.11 kmpl', '22.8 km/kg', '32.26 km/kg', '33.0 km/kg',
       '12.4 kmpl', '18.44 kmpl', '16.09 kmpl', '19.0 km/kg',
       '12.62 kmpl', '21.13 kmpl', '15.17 kmpl', '21.73 kmpl',
       '21.72 kmpl', '12.85 kmpl', '14.81 kmpl', '13.24 kmpl',
       '14.4 km/kg', '21.49 kmpl', '14.62 kmpl', '26.83 km/kg',
       '11.45 kmpl', '12.08 kmpl', '15.74 kmpl', '11.3 kmpl',
       '15.1 km/kg', '14.21 kmpl', '11.72 kmpl', '16.51 kmpl'],
      dtype=object)

In [91]:
# We must replace non numeric expressions with space""

df['mileage'] = df['mileage'].str.replace("kmpl", "").str.replace("km/kg", "")

In [92]:
# Then convert it to numeric

df['mileage'] = pd.to_numeric(df['mileage'])

In [93]:
# We can also convert 'engine' column to numeric

df.engine.unique()

array(['1248 CC', '1498 CC', '1497 CC', '1396 CC', '1298 CC', '1197 CC',
       '1061 CC', '796 CC', '1364 CC', '1399 CC', '1461 CC', '993 CC',
       '1198 CC', '1199 CC', '998 CC', '1591 CC', '2179 CC', '1368 CC',
       '2982 CC', '2494 CC', '2143 CC', '2477 CC', '1462 CC', '2755 CC',
       '1968 CC', '1798 CC', '1196 CC', '1373 CC', '1598 CC', '1998 CC',
       '1086 CC', '1194 CC', '1172 CC', '1405 CC', '1582 CC', '999 CC',
       '2487 CC', '1999 CC', '3604 CC', '2987 CC', '1995 CC', '1451 CC',
       '1969 CC', '2967 CC', '2497 CC', '1797 CC', '1991 CC', '2362 CC',
       '1493 CC', '1599 CC', '1341 CC', '1794 CC', '799 CC', '1193 CC',
       '2696 CC', '1495 CC', '1186 CC', '1047 CC', '2498 CC', '2956 CC',
       '2523 CC', '1120 CC', '624 CC', '1496 CC', '1984 CC', '2354 CC',
       '814 CC', '793 CC', '1799 CC', '936 CC', '1956 CC', '1997 CC',
       '1499 CC', '1948 CC', '2997 CC', '2489 CC', '2499 CC', '2609 CC',
       '2953 CC', '1150 CC', '1994 CC', '1388 CC', '1527 CC', '2199 CC',
       '995 CC', '2993 CC', '1586 CC', '1390 CC', '909 CC', '2393 CC',
       '3198 CC', '1339 CC', '2835 CC', '2092 CC', '1595 CC', '2496 CC',
       '1596 CC', '1597 CC', '2596 CC', '2148 CC', '1299 CC', '1590 CC',
       '2231 CC', '2694 CC', '2200 CC', '1795 CC', '1896 CC', '1796 CC',
       '1422 CC', '1489 CC', '2359 CC', '2197 CC', '2999 CC', '1781 CC',
       '2650 CC', '1343 CC', '2446 CC', '3498 CC', '2198 CC', '2776 CC',
       '1950 CC'], dtype=object)

In [94]:
df['engine'] = df['engine'].str.replace("CC", "")
df['engine'] = pd.to_numeric(df['engine'])

In [95]:
# Let convert 'max_power' column to numeric, too

df.max_power.unique()

array(['74 bhp', '103.52 bhp', '78 bhp', '90 bhp', '88.2 bhp',
       '81.86 bhp', '57.5 bhp', '37 bhp', '67.1 bhp', '68.1 bhp',
       '108.45 bhp', '60 bhp', '73.9 bhp', '67 bhp', '82 bhp', '88.5 bhp',
       '46.3 bhp', '88.73 bhp', '64.1 bhp', '98.6 bhp', '88.8 bhp',
       '83.81 bhp', '83.1 bhp', '47.3 bhp', '73.8 bhp', '34.2 bhp',
       '35 bhp', '81.83 bhp', '40.3 bhp', '121.3 bhp', '138.03 bhp',
       '160.77 bhp', '117.3 bhp', '116.3 bhp', '83.14 bhp', '67.05 bhp',
       '168.5 bhp', '100 bhp', '120.7 bhp', '98.63 bhp', '175.56 bhp',
       '103.25 bhp', '171.5 bhp', '100.6 bhp', '174.33 bhp', '187.74 bhp',
       '170 bhp', '78.9 bhp', '88.76 bhp', '86.8 bhp', '108.495 bhp',
       '108.62 bhp', '93.7 bhp', '103.6 bhp', '98.59 bhp', '189 bhp',
       '67.04 bhp', '68.05 bhp', '58.2 bhp', '82.85 bhp', '81.80 bhp',
       '73 bhp', '120 bhp', '94.68 bhp', '160 bhp', '65 bhp', '155 bhp',
       '69.01 bhp', '126.32 bhp', '138.1 bhp', '83.8 bhp', '126.2 bhp',
       '98.96 bhp', '62.1 bhp', '86.7 bhp', '188 bhp', '214.56 bhp',
       '177 bhp', '280 bhp', '148.31 bhp', '254.79 bhp', '190 bhp',
       '177.46 bhp', '204 bhp', '141 bhp', '117.6 bhp', '241.4 bhp',
       '282 bhp', '150 bhp', '147.5 bhp', '108.5 bhp', '103.5 bhp',
       '183 bhp', '181.04 bhp', '157.7 bhp', '164.7 bhp', '91.1 bhp',
       '400 bhp', '68 bhp', '75 bhp', '85.8 bhp', '87.2 bhp', '53 bhp',
       '118 bhp', '103.2 bhp', '83 bhp', '84 bhp', '58.16 bhp',
       '147.94 bhp', '74.02 bhp', '53.3 bhp', '80 bhp', '88.7 bhp',
       '97.7 bhp', '121.36 bhp', '162 bhp', '140 bhp', '94 bhp',
       '100.57 bhp', '82.9 bhp', '83.11 bhp', '70 bhp', '153.86 bhp',
       '121 bhp', '126.3 bhp', '73.97 bhp', '171 bhp', '69 bhp',
       '99.6 bhp', '102 bhp', '105 bhp', '63 bhp', '79.4 bhp', '97.9 bhp',
       '63.1 bhp', '66.1 bhp', '110 bhp', '174.5 bhp', '53.26 bhp',
       '73.75 bhp', '67.06 bhp', '64.08 bhp', '37.5 bhp', '189.3 bhp',
       '158.8 bhp', '61.7 bhp', '55.2 bhp', '71.01 bhp', '73.74 bhp',
       '147.9 bhp', '71 bhp', '77 bhp', '121.4 bhp', '113.4 bhp',
       '47 bhp', '130 bhp', '57.6 bhp', '138 bhp', '52.8 bhp',
       '53.64 bhp', '53.5 bhp', '76.8 bhp', '82.4 bhp', '113.42 bhp',
       '76 bhp', '84.8 bhp', '56.3 bhp', '218 bhp', '112 bhp', '92 bhp',
       '105.5 bhp', '169 bhp', '95 bhp', '72.4 bhp', '115 bhp', '152 bhp',
       '91.2 bhp', '156 bhp', '74.9 bhp', '62 bhp', '105.3 bhp',
       '73.94 bhp', '85.80 bhp', '85 bhp', '118.3 bhp', '72 bhp',
       '147.51 bhp', '58 bhp', '64 bhp', '126.24 bhp', '76.9 bhp',
       '194.3 bhp', '99.23 bhp', '89.84 bhp', '123.7 bhp', '118.35 bhp',
       '99 bhp', '241 bhp', '136 bhp', '261.4 bhp', '104.68 bhp',
       '37.48 bhp', '104 bhp', '88.50 bhp', '63.12 bhp', '91.7 bhp',
       '102.5 bhp', '177.6 bhp', '45 bhp', '123.37 bhp', '147.8 bhp',
       '184 bhp', '84.48 bhp', '68.07 bhp', '74.96 bhp', '167.6 bhp',
       '152.87 bhp', '112.2 bhp', '83.83 bhp', '197 bhp', '110.4 bhp',
       '104.55 bhp', '103 bhp', '103.3 bhp', '66 bhp', '108.6 bhp',
       '165 bhp', '163.7 bhp', '116.9 bhp', '94.93 bhp', '127 bhp',
       '198.5 bhp', '179.5 bhp', '120.69 bhp', '121.31 bhp', '138.08 bhp',
       '187.7 bhp', '80.8 bhp', '86.79 bhp', '93.87 bhp', '116.6 bhp',
       '143 bhp', '92.7 bhp', '88 bhp', '58.33 bhp', '78.8 bhp',
       '64.4 bhp', '125 bhp', '139.01 bhp', '254.8 bhp', '181 bhp',
       '258 bhp', '55.23 bhp', '270.9 bhp', '265 bhp', '157.75 bhp',
       '101 bhp', '186 bhp', '187.4 bhp', '224 bhp', '64.9 bhp',
       '148 bhp', '35.5 bhp', '89.75 bhp', '32.8 bhp', '91.72 bhp',
       '106 bhp', '98.97 bhp', '66.6 bhp', '86 bhp', '65.3 bhp',
       '98.82 bhp', '198.25 bhp', '38 bhp', '142 bhp', '132 bhp',
       '174.57 bhp', '178 bhp', '163.2 bhp', '203.2 bhp', '177.5 bhp',
       '175 bhp', '57 bhp', '80.84 bhp', '68.4 bhp', '167.67 bhp',
       '170.63 bhp', '52 bhp', '149.5 bhp', '48.21 bhp', '201.1 bhp',
       '100.5 bhp', '144 bhp', '194.4 bhp', '168.7 bhp', '104.5 bhp',
       '103.26 bhp', '116.4 bhp', '98.79 bhp', '80.9 bhp', '58.3 bhp',
       '272 bhp', '235 bhp', '167.62 bhp', '170.30 bhp', '139.46 bhp',
       '158 bhp', '110.5 bhp', '82.5 bhp', '141.1 bhp', '38.4 bhp',
       '197.2 bhp', '161 bhp', '194 bhp', '122.4 bhp', '134.10 bhp',
       '60.2 bhp', '134 bhp', '203 bhp', '135.1 bhp'], dtype=object)

In [96]:
df['max_power'] = df['max_power'].str.replace("bhp", "")
df['max_power'] = pd.to_numeric(df['max_power'])

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6717 entries, 0 to 6716
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   object
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   object
 5   seller_type    6717 non-null   object
 6   transmission   6717 non-null   object
 7   owner          6717 non-null   object
 8   mileage        6717 non-null   float64
 9   engine         6717 non-null   int64
 10  max_power      6717 non-null   float64
 11  seats          6717 non-null   float64
dtypes: float64(3), int64(4), object(5)
memory usage: 629.8+ KB

In [98]:
# Lets make a summary after all

def summary(df):
    print(f'data shape: {df.shape}')
    summ = pd.DataFrame(df.dtypes, columns=['Data Type'])
    summ['Miss'] = df.isna().sum()
    summ['Dups'] = df.duplicated().sum()
    summ['Uniq'] = df.nunique().values
    summ['Count'] = df.count().values
    desc = pd.DataFrame(df.describe(include='all').transpose())
    summ['Top'] = desc['top'].values
    summ['Min'] = desc['min'].values
    summ['Max'] = desc['max'].values
    summ['Avrg'] = desc['mean'].values
    summ['St_Dev'] = desc['std'].values
  
    display(summ)

summary(df)

data shape: (6717, 12)

,Data Type,Miss,Dups,Uniq,Count,Top,Min,Max,Avrg,St_Dev
name,object,0,0,1982,6717,Maruti Swift Dzire VDI,NaN,NaN,NaN,NaN
year,int64,0,0,27,6717,NaN,1994.0,2020.0,2013.611136,3.897402
selling_price,int64,0,0,670,6717,NaN,29999.0,10000000.0,526385.997022,523550.448297
km_driven,int64,0,0,898,6717,NaN,1.0,2360457.0,73398.337651,58703.27527
fuel,object,0,0,4,6717,Diesel,NaN,NaN,NaN,NaN
seller_type,object,0,0,3,6717,Individual,NaN,NaN,NaN,NaN
transmission,object,0,0,2,6717,Manual,NaN,NaN,NaN,NaN
owner,object,0,0,5,6717,First Owner,NaN,NaN,NaN,NaN
mileage,float64,0,0,381,6717,NaN,0.0,42.0,19.466585,4.048102
engine,int64,0,0,121,6717,NaN,624.0,3604.0,1430.985857,493.469198
max_power,float64,0,0,318,6717,NaN,32.8,400.0,87.7661,31.724555
seats,float64,0,0,9,6717,NaN,2.0,14.0,5.434271,0.983805

In [99]:
# Lets add a new column as 'age'

#from datetime import datetime

#current_year = datetime.now().year
#df['age'] = current_year - df['year']

In [100]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248,74.00,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497,78.00,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396,90.00,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298,88.20,5.0

In [101]:
# We must convert 'name' column as 'brand'

df.name.unique()

array(['Maruti Swift Dzire VDI', 'Skoda Rapid 1.5 TDI Ambition',
       'Honda City 2017-2020 EXi', ..., 'Tata Nexon 1.5 Revotorq XT',
       'Ford Freestyle Titanium Plus Diesel BSIV',
       'Toyota Innova 2.5 GX (Diesel) 8 Seater BS IV'], dtype=object)

In [102]:
# First, lets copy it. Now we have 'name' and 'name_2' columns

df['name_2'] = df['name']

In [103]:
df.rename(columns={'name': 'brand'}, inplace=True)
df.rename(columns={'name_2': 'model'}, inplace=True)

In [104]:
df.head()

,brand,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,model
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248,74.00,5.0,Maruti Swift Dzire VDI
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5.0,Skoda Rapid 1.5 TDI Ambition
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497,78.00,5.0,Honda City 2017-2020 EXi
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396,90.00,5.0,Hyundai i20 Sportz Diesel
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298,88.20,5.0,Maruti Swift VXI BSIII

In [105]:
# Lets split the values in 'name' column by space and keep only the first element
# For example: Maruti Swift Dzire VDI

df['brand'] = df['brand'].str.split().str[0]

In [106]:
df.head()

,brand,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,model
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248,74.00,5.0,Maruti Swift Dzire VDI
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5.0,Skoda Rapid 1.5 TDI Ambition
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497,78.00,5.0,Honda City 2017-2020 EXi
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396,90.00,5.0,Hyundai i20 Sportz Diesel
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298,88.20,5.0,Maruti Swift VXI BSIII

In [107]:
df.brand.unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], dtype=object)

In [108]:
# How many unique values for brand?
df.brand.nunique()

31

In [109]:
# Lets print unique values alphabetically to check for duplicating

unique_brands = sorted(df['brand'].unique())

for name in unique_brands:
    print(name)

Ambassador
Ashok
Audi
BMW
Chevrolet
Daewoo
Datsun
Fiat
Force
Ford
Honda
Hyundai
Isuzu
Jaguar
Jeep
Kia
Land
Lexus
MG
Mahindra
Maruti
Mercedes-Benz
Mitsubishi
Nissan
Opel
Renault
Skoda
Tata
Toyota
Volkswagen
Volvo

In [110]:
# Lets edit 'model' column
# Lets split the values by space and keep only first element
# For example: Maruti Swift Dzire VDI

df['model'] = df['model'].str.split().str[1]

In [111]:
df.head()

,brand,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,model
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248,74.00,5.0,Swift
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5.0,Rapid
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497,78.00,5.0,City
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396,90.00,5.0,i20
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298,88.20,5.0,Swift

In [112]:
# How many unique values for model?
df.model.nunique()

197

In [113]:
df.model.unique()

array(['Swift', 'Rapid', 'City', 'i20', 'Xcent', 'Wagon', '800', 'Etios',
       'Figo', 'Duster', 'Zen', 'KUV', 'Ertiga', 'Alto', 'Verito', 'WR-V',
       'SX4', 'Tigor', 'Baleno', 'Enjoy', 'Omni', 'Vitara', 'Verna', 'GO',
       'Safari', 'Compass', 'Fortuner', 'Innova', 'B', 'Amaze', 'Pajero',
       'Ciaz', 'Jazz', 'A6', 'Corolla', 'New', 'Manza', 'i10', 'Ameo',
       'Vento', 'EcoSport', 'X1', 'Celerio', 'Polo', 'Eeco', 'Scorpio',
       'Freestyle', 'Passat', 'Indica', 'XUV500', 'Indigo', 'Terrano',
       'Creta', 'KWID', 'Santro', 'Q5', 'ES', 'XF', 'Wrangler', 'Rover',
       'S-Class', '5', 'X4', 'Superb', 'E-Class', 'Hector', 'XC40', 'Q7',
       'Elantra', 'XE', 'Nexon', 'CLA', 'Glanza', '3', 'Camry', 'XC90',
       'Ritz', 'Grand', 'Matiz', 'Zest', 'Getz', 'Elite', 'Brio', 'Hexa',
       'Sunny', 'Micra', 'Ssangyong', 'Quanto', 'Accent', 'Ignis',
       'Marazzo', 'Tiago', 'Thar', 'Sumo', 'Bolero', 'GL-Class', 'Beat',
       'A-Star', 'XUV300', 'Nano', 'GTI', 'V40', 'CR-V', 'EON', 'RediGO',
       'Captiva', 'Fiesta', 'Seltos', 'Civic', 'Sail', 'Venture',
       'Classic', 'BR-V', 'Ecosport', 'Aria', 'TUV', 'Bolt', 'Accord',
       'Xylo', 'Grande', 'S-Cross', 'Yaris', 'Tavera', 'Linea',
       'Endeavour', 'Aveo', 'Triber', 'Fusion', 'Octavia', 'A4', 'XL6',
       'Santa', 'Spark', 'Aspire', 'Optra', 'Mobilio', 'BRV', 'X6',
       'Cruze', 'GLA', '6', 'NuvoSport', 'Scala', 'Lodgy', 'Pulse',
       'Supro', 'Sonata', 'Renault', 'Kicks', 'Jetta', 'M-Class', 'Teana',
       'Yeti', 'Q3', 'Gurkha', 'Logan', 'A3', 'Dzire', 'Ikon', 'Fluence',
       'Xenon', 'One', '7', 'S60', 'Lancer', 'X7', 'Fabia', 'Platinum',
       'Captur', 'Gypsy', 'Koleos', 'CLASSIC', 'Harrier', 'Punto',
       'Avventura', 'Laura', 'Leyland', 'MUX', 'Astra', 'Tucson',
       'Esteem', 'Winger', 'Qualis', 'Spacio', 'Venue', 'CrossPolo',
       'Kodiaq', 'D-Max', 'X3', 'Land', 'X5', 'Trailblazer', 'MU', 'GLC',
       'XC60', 'S90', 'S-Presso'], dtype=object)

In [114]:
df.model.nunique()

197

In [115]:
# Lets print unique values alphabetically to check for duplicating

unique_models = sorted(df['model'].unique())

for name in unique_models:
    print(name)

3
5
6
7
800
A-Star
A3
A4
A6
Accent
Accord
Alto
Amaze
Ameo
Aria
Aspire
Astra
Aveo
Avventura
B
BR-V
BRV
Baleno
Beat
Bolero
Bolt
Brio
CLA
CLASSIC
CR-V
Camry
Captiva
Captur
Celerio
Ciaz
City
Civic
Classic
Compass
Corolla
Creta
CrossPolo
Cruze
D-Max
Duster
Dzire
E-Class
EON
ES
EcoSport
Ecosport
Eeco
Elantra
Elite
Endeavour
Enjoy
Ertiga
Esteem
Etios
Fabia
Fiesta
Figo
Fluence
Fortuner
Freestyle
Fusion
GL-Class
GLA
GLC
GO
GTI
Getz
Glanza
Grand
Grande
Gurkha
Gypsy
Harrier
Hector
Hexa
Ignis
Ikon
Indica
Indigo
Innova
Jazz
Jetta
KUV
KWID
Kicks
Kodiaq
Koleos
Lancer
Land
Laura
Leyland
Linea
Lodgy
Logan
M-Class
MU
MUX
Manza
Marazzo
Matiz
Micra
Mobilio
Nano
New
Nexon
NuvoSport
Octavia
Omni
One
Optra
Pajero
Passat
Platinum
Polo
Pulse
Punto
Q3
Q5
Q7
Qualis
Quanto
Rapid
RediGO
Renault
Ritz
Rover
S-Class
S-Cross
S-Presso
S60
S90
SX4
Safari
Sail
Santa
Santro
Scala
Scorpio
Seltos
Sonata
Spacio
Spark
Ssangyong
Sumo
Sunny
Superb
Supro
Swift
TUV
Tavera
Teana
Terrano
Thar
Tiago
Tigor
Trailblazer
Triber
Tucson
V40
Vento
Venture
Venue
Verito
Verna
Vitara
WR-V
Wagon
Winger
Wrangler
X1
X3
X4
X5
X6
X7
XC40
XC60
XC90
XE
XF
XL6
XUV300
XUV500
Xcent
Xenon
Xylo
Yaris
Yeti
Zen
Zest
i10
i20

In [116]:
## Lets deal with outliers

# Summary table for outliers

In [117]:
summary_out = []

for col in df.select_dtypes(include=['int', 'float']).columns:
    # Count total rows
    total_rows = df[col].count()
    
    # Calculate outliers
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    total_outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)][col].count()
    
    # Append to summary table
    summary_out.append({'Col_Name': col,
                        'D_Type': df[col].dtype,
                        'Rows#': total_rows,
                        'Min': df[col].min().astype(int),
                        'Avg': df[col].mean().astype(int),
                        'Max': df[col].max().astype(int),
                        'Lower_B': lower_bound.astype(int),
                        'Upper_B': upper_bound.astype(int),
                        'Outliers#': total_outliers
                        })

summary_out = pd.DataFrame(summary_out)
summary_out

,Col_Name,D_Type,Rows#,Min,Avg,Max,Lower_B,Upper_B,Outliers#
0,year,int64,6717,1994,2013,2020,2002,2026,56
1,selling_price,int64,6717,29999,526385,10000000,-350000,1250000,306
2,km_driven,int64,6717,1,73398,2360457,-55000,193000,161
3,mileage,float64,6717,0,19,42,8,31,21
4,engine,int64,6717,624,1430,3604,745,1949,1207
5,max_power,float64,6717,32,87,400,17,149,304
6,seats,float64,6717,2,5,14,5,5,1463