In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
cars_df = pd.read_csv('data/Cardetails-2.csv')
cars_df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [83]:
cars_df.shape

(8128, 15)

In [39]:
cars_df.head()['name']

0          Maruti Swift Dzire VDI
1    Skoda Rapid 1.5 TDI Ambition
2        Honda City 2017-2020 EXi
3       Hyundai i20 Sportz Diesel
4          Maruti Swift VXI BSIII
Name: name, dtype: object

In [38]:
for col in cars_df.columns:
    #print(col)
    if np.object_ == cars_df.dtypes[col]:
        print(col, cars_df.dtypes[col])

name object
fuel object
seller_type object
transmission object
owner object
mileage object
engine object
max_power object
torque object

In [47]:
def createBrand(nModel: str):
    items = nModel.split(maxsplit=1)
    #print(items[0], items[1])
    return items[0]

def createModel(nModel: str):
    items = nModel.split(maxsplit=1)
    return items[1]

cars_df['brand'] = cars_df['name'].apply((lambda x: createBrand(x)))
cars_df['model'] = cars_df['name'].apply((lambda x: createModel(x)))
cars_df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,brand,model
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,Maruti,Swift Dzire VDI
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,Skoda,Rapid 1.5 TDI Ambition
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,Honda,City 2017-2020 EXi
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,Hyundai,i20 Sportz Diesel
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,Maruti,Swift VXI BSIII

In [95]:
len(cars_df.mileage.unique())

393

In [61]:
len(cars_df.seats.unique())

10

In [60]:
len(cars_df.torque.unique())

442

BHP or brake horsepower is usually used as a more realistic measurement as it considers the power left over after the gearbox, alternator and water pump are working as well as any loss of power due to friction. PS or PferdStarke is the metric measure of horsepower. It is the equivalent of 98.6% of one HP.

In [59]:
len(cars_df.max_power.unique())

323

In [57]:
cars_df.engine.unique()

array(['1248 CC', '1498 CC', '1497 CC', '1396 CC', '1298 CC', '1197 CC',
       '1061 CC', '796 CC', '1364 CC', '1399 CC', '1461 CC', '993 CC',
       nan, '1198 CC', '1199 CC', '998 CC', '1591 CC', '2179 CC',
       '1368 CC', '2982 CC', '2494 CC', '2143 CC', '2477 CC', '1462 CC',
       '2755 CC', '1968 CC', '1798 CC', '1196 CC', '1373 CC', '1598 CC',
       '1998 CC', '1086 CC', '1194 CC', '1172 CC', '1405 CC', '1582 CC',
       '999 CC', '2487 CC', '1999 CC', '3604 CC', '2987 CC', '1995 CC',
       '1451 CC', '1969 CC', '2967 CC', '2497 CC', '1797 CC', '1991 CC',
       '2362 CC', '1493 CC', '1599 CC', '1341 CC', '1794 CC', '799 CC',
       '1193 CC', '2696 CC', '1495 CC', '1186 CC', '1047 CC', '2498 CC',
       '2956 CC', '2523 CC', '1120 CC', '624 CC', '1496 CC', '1984 CC',
       '2354 CC', '814 CC', '793 CC', '1799 CC', '936 CC', '1956 CC',
       '1997 CC', '1499 CC', '1948 CC', '2997 CC', '2489 CC', '2499 CC',
       '2609 CC', '2953 CC', '1150 CC', '1994 CC', '1388 CC', '1527 CC',
       '2199 CC', '995 CC', '2993 CC', '1586 CC', '1390 CC', '909 CC',
       '2393 CC', '3198 CC', '1339 CC', '2835 CC', '2092 CC', '1595 CC',
       '2496 CC', '1596 CC', '1597 CC', '2596 CC', '2148 CC', '1299 CC',
       '1590 CC', '2231 CC', '2694 CC', '2200 CC', '1795 CC', '1896 CC',
       '1796 CC', '1422 CC', '1489 CC', '2359 CC', '2197 CC', '2999 CC',
       '1781 CC', '2650 CC', '1343 CC', '2446 CC', '3498 CC', '2198 CC',
       '2776 CC', '1950 CC'], dtype=object)

In [54]:
cars_df.owner.unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [48]:
len(cars_df.model.unique())

2058

In [52]:
cars_df.brand.unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [53]:
print(len(cars_df.year.unique()))
print('max ', cars_df.year.max())
print('min ', cars_df.year.min())

29
max  2020
min  1983

In [62]:
print(cars_df.shape)

print(cars_df.dtypes)
#print(pd.read_csv('data/CarsData.csv').dtypes)

(8128, 15)
name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
torque            object
seats            float64
brand             object
model             object
dtype: object

In [29]:
from functools import reduce
import operator
import numpy as np

cars_df_types = np.ravel(cars_df.dtypes.to_list())
cars_df_types = [item.name for item in cars_df.dtypes if np.object_ == item.type]
cars_df_types

['object',
 'object',
 'object',
 'object',
 'object',
 'object',
 'object',
 'object',
 'object']

In [7]:
cars_df.groupby('fuel').count()

,name,year,selling_price,km_driven,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
fuel,,,,,,,,,,,,
CNG,57,57,57,57,57,57,57,53,53,53,52,53
Diesel,4402,4402,4402,4402,4402,4402,4402,4299,4299,4303,4299,4299
LPG,38,38,38,38,38,38,38,35,35,35,35,35
Petrol,3631,3631,3631,3631,3631,3631,3631,3520,3520,3522,3520,3520

In [4]:
cars_manufacturer_list = cars_df.Manufacturer.unique()
cars_manufacturer_list

array(['hyundi', 'volkswagen', 'BMW', 'skoda', 'ford', 'toyota', 'merc',
       'vauxhall', 'Audi'], dtype=object)

In [74]:
cars_df.isnull().value_counts()

name   year   selling_price  km_driven  fuel   seller_type  transmission  owner  mileage  engine  max_power  torque  seats  brand  model
False  False  False          False      False  False        False         False  False    False   False      False   False  False  False    7906
                                                                                 True     True    True       True    True   False  False     215
                                                                                                  False      True    True   False  False       6
                                                                                 False    False   False      True    False  False  False       1
Name: count, dtype: int64

In [67]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
 13  brand          8128 non-null   object
 14  model          8128 non-null   object
dtypes: float64(1), int64(3), object(11)
memory usage: 952.6+ KB

In [63]:
nl = cars_df.isnull().sum()
nl

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
brand              0
model              0
dtype: int64

In [64]:
nl[nl > 0]

mileage      221
engine       221
max_power    215
torque       222
seats        221
dtype: int64

In [71]:
cars_df.query("engine.isnull() & brand == 'Maruti'")

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,brand,model
13,Maruti Swift 1.3 VXi,2007,200000,80000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
87,Maruti Swift VDI BSIV W ABS,2015,475000,78000,Diesel,Dealer,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift VDI BSIV W ABS
119,Maruti Swift VDI BSIV,2010,300000,120000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift VDI BSIV
206,Maruti Omni E 8 Str STD,2003,40000,90000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Omni E 8 Str STD
228,Maruti Swift 1.3 VXi,2008,130000,120000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7581,Maruti Swift 1.3 ZXI,2006,229999,110000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 ZXI
7582,Maruti Swift 1.3 VXi,2006,215000,90000,Petrol,Individual,Manual,Fourth & Above Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
7651,Maruti Swift VDI BSIV,2014,217000,50000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift VDI BSIV
7730,Maruti Omni E 8 Str STD,2008,125000,70000,Petrol,Individual,Manual,Fourth & Above Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Omni E 8 Str STD
8103,Maruti Swift 1.3 VXi,2006,130000,100000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi

In [88]:
cars_df.query("engine.isnull()")['brand']

13       Maruti
31         Fiat
78         Tata
87       Maruti
119      Maruti
         ...
7846     Toyota
7996    Hyundai
8009    Hyundai
8068       Ford
8103     Maruti
Name: brand, Length: 221, dtype: object

In [90]:
cars_df.dropna(axis=0, inplace=True)

In [91]:
cars_df.query("engine.isnull()")['brand']

Series([], Name: brand, dtype: object)

In [92]:
cars_df.shape

(7906, 15)

In [94]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7906 entries, 0 to 8127
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7906 non-null   object
 1   year           7906 non-null   int64
 2   selling_price  7906 non-null   int64
 3   km_driven      7906 non-null   int64
 4   fuel           7906 non-null   object
 5   seller_type    7906 non-null   object
 6   transmission   7906 non-null   object
 7   owner          7906 non-null   object
 8   mileage        7906 non-null   object
 9   engine         7906 non-null   object
 10  max_power      7906 non-null   object
 11  torque         7906 non-null   object
 12  seats          7906 non-null   float64
 13  brand          7906 non-null   object
 14  model          7906 non-null   object
dtypes: float64(1), int64(3), object(11)
memory usage: 988.2+ KB

In [73]:
#['Maruti', 'Fiat', 'Tata', 'BMW', 'Toyota', 'Mahindra', 'Hyundai', 'Skoda', 'Honda', 'Ford', 'Volkswagen', 'Peugeot']
len(cars_df.query("engine.isnull()")['brand'])

221

In [79]:
cars_df.query("brand == 'Maruti' & (model == 'Swift 1.3 ZXI' | model == 'Swift 1.3 VXi')")

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,brand,model
13,Maruti Swift 1.3 VXi,2007,200000,80000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
228,Maruti Swift 1.3 VXi,2008,130000,120000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
306,Maruti Swift 1.3 VXi,2010,215000,70000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
743,Maruti Swift 1.3 VXi,2006,140000,65000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
1331,Maruti Swift 1.3 VXi,2008,240000,60000,Petrol,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
1785,Maruti Swift 1.3 VXi,2007,150000,70000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
4731,Maruti Swift 1.3 VXi,2009,220000,25000,Petrol,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
5447,Maruti Swift 1.3 ZXI,2008,200000,90000,Petrol,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 ZXI
5742,Maruti Swift 1.3 VXi,2007,150000,80000,Petrol,Individual,Manual,Fourth & Above Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
5817,Maruti Swift 1.3 VXi,2009,180000,50000,Petrol,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
5901,Maruti Swift 1.3 ZXI,2011,320000,85000,Petrol,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 ZXI
6404,Maruti Swift 1.3 VXi,2008,200000,80000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
7179,Maruti Swift 1.3 VXi,2010,175000,83000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
7433,Maruti Swift 1.3 VXi,2009,198000,91000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
7581,Maruti Swift 1.3 ZXI,2006,229999,110000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 ZXI
7582,Maruti Swift 1.3 VXi,2006,215000,90000,Petrol,Individual,Manual,Fourth & Above Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi
8103,Maruti Swift 1.3 VXi,2006,130000,100000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN,Maruti,Swift 1.3 VXi

In [ ]:
cars_df.rename(columns={'engine': 'engine_cc'}, inplace=True)

### Key specifications of Maruti Suzuki Swift

https://auto.economictimes.indiatimes.com/cars/maruti-suzuki-swift/specs/vxi

In [ ]:
vxi = ['23.2 kmpl', '1197 cc', '89 bhp', '113 Nm', '5.0']
zxi = ['23.2 kmpl', '1197 cc', '89 bhp', '113 Nm', '5.0']

In [82]:
cols_view = ['name', 'mileage', 'engine', 'max_power', 'torque', 'seats']
cols_edit = ['mileage', 'engine', 'max_power', 'torque', 'seats']
cars_df.query("brand == 'Maruti' & model == 'Swift 1.3 ZXI'")[cols_view]
v = cars_df.query("brand == 'Maruti' & model == 'Swift 1.3 ZXI'")[cols_edit]
pd.DataFrame()

                      name mileage engine max_power torque  seats
5447  Maruti Swift 1.3 ZXI     NaN    NaN       NaN    NaN    NaN
5901  Maruti Swift 1.3 ZXI     NaN    NaN       NaN    NaN    NaN
7581  Maruti Swift 1.3 ZXI     NaN    NaN       NaN    NaN    NaN