In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
cars_df = pd.read_csv('data/CarsData.csv')
cars_df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Manufacturer
0,I10,2017,7495,Manual,11630,Petrol,145,60.1,1.0,hyundi
1,Polo,2017,10989,Manual,9200,Petrol,145,58.9,1.0,volkswagen
2,2 Series,2019,27990,Semi-Auto,1614,Diesel,145,49.6,2.0,BMW
3,Yeti Outdoor,2017,12495,Manual,30960,Diesel,150,62.8,2.0,skoda
4,Fiesta,2017,7999,Manual,19353,Petrol,125,54.3,1.2,ford

In [8]:
cars_df.groupby('fuelType').model.count()

fuelType
Diesel      40419
Electric        6
Hybrid       3059
Other         246
Petrol      53982
Name: model, dtype: int64

In [5]:
cars_manufacturer_list = cars_df.Manufacturer.unique()
cars_manufacturer_list

array(['hyundi', 'volkswagen', 'BMW', 'skoda', 'ford', 'toyota', 'merc',
       'vauxhall', 'Audi'], dtype=object)

In [6]:
cars_df.isnull().value_counts()

model  year   price  transmission  mileage  fuelType  tax    mpg    engineSize  Manufacturer
False  False  False  False         False    False     False  False  False       False           97712
Name: count, dtype: int64

In [3]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97712 entries, 0 to 97711
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         97712 non-null  object
 1   year          97712 non-null  int64
 2   price         97712 non-null  int64
 3   transmission  97712 non-null  object
 4   mileage       97712 non-null  int64
 5   fuelType      97712 non-null  object
 6   tax           97712 non-null  int64
 7   mpg           97712 non-null  float64
 8   engineSize    97712 non-null  float64
 9   Manufacturer  97712 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 7.5+ MB

In [ ]:
cars_list = cars_df.model.unique()
cars_list