In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
economy_df = pd.read_csv('data/Global Economy Indicators.csv')
economy_df.head()

,CountryID,Country,Year,AMA exchange rate,IMF based exchange rate,Population,Currency,Per capita GNI,"Agriculture, hunting, forestry, fishing (ISIC A-B)",Changes in inventories,...,Household consumption expenditure (including Non-profit institutions serving households),Imports of goods and services,Manufacturing (ISIC D),"Mining, Manufacturing, Utilities (ISIC C-E)",Other Activities (ISIC J-P),Total Value Added,"Transport, storage and communication (ISIC I)","Wholesale, retail trade, restaurants and hotels (ISIC G-H)",Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
0,4,Afghanistan,1970,0.044998,0.044998,10752971,Afghani,164,8.699174e+08,NaN,...,1.551094e+09,195277226.0,370146827.0,376690811.0,127747843.0,1.731454e+09,83917200.0,226387091.0,1.766528e+09,1.731436e+09
1,4,Afghanistan,1971,0.044998,0.044998,11015857,Afghani,168,9.108281e+08,NaN,...,1.675426e+09,276296480.0,387549502.0,394401164.0,133754097.0,1.812857e+09,87860382.0,237019196.0,1.850122e+09,1.812838e+09
2,4,Afghanistan,1972,0.044998,0.044998,11286753,Afghani,149,8.279453e+08,NaN,...,1.498812e+09,290370350.0,352284669.0,358512865.0,121582672.0,1.647918e+09,79864525.0,215477287.0,1.683948e+09,1.647900e+09
3,4,Afghanistan,1973,0.044998,0.044998,11575305,Afghani,150,8.554869e+08,NaN,...,1.508024e+09,262962880.0,364010279.0,370445793.0,125630236.0,1.702735e+09,82528885.0,222624293.0,1.739998e+09,1.702716e+09
4,4,Afghanistan,1974,0.044998,0.044998,11869879,Afghani,177,1.035913e+09,NaN,...,1.778819e+09,305679151.0,440760406.0,448552790.0,152119162.0,2.061752e+09,99918604.0,269525910.0,2.106420e+09,2.061729e+09

In [3]:
economy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10512 entries, 0 to 10511
Data columns (total 26 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0    CountryID                                                                                  10512 non-null  int64
 1    Country                                                                                    10512 non-null  object
 2    Year                                                                                       10512 non-null  int64
 3    AMA exchange rate                                                                          10512 non-null  float64
 4    IMF based exchange rate                                                                    10512 non-null  float64
 5    Population                                                                                 10512 non-null  int64
 6    Currency                                                                                   10512 non-null  object
 7    Per capita GNI                                                                             10512 non-null  int64
 8    Agriculture, hunting, forestry, fishing (ISIC A-B)                                         10391 non-null  float64
 9    Changes in inventories                                                                     8671 non-null   float64
 10   Construction (ISIC F)                                                                      10512 non-null  float64
 11   Exports of goods and services                                                              10491 non-null  float64
 12   Final consumption expenditure                                                              10512 non-null  float64
 13   General government final consumption expenditure                                           10460 non-null  float64
 14   Gross capital formation                                                                    10460 non-null  float64
 15   Gross fixed capital formation (including Acquisitions less disposals of valuables)         10460 non-null  float64
 16   Household consumption expenditure (including Non-profit institutions serving households)   10460 non-null  float64
 17   Imports of goods and services                                                              10470 non-null  float64
 18   Manufacturing (ISIC D)                                                                     10469 non-null  float64
 19   Mining, Manufacturing, Utilities (ISIC C-E)                                                10512 non-null  float64
 20   Other Activities (ISIC J-P)                                                                10512 non-null  float64
 21   Total Value Added                                                                          10512 non-null  float64
 22   Transport, storage and communication (ISIC I)                                              10463 non-null  float64
 23   Wholesale, retail trade, restaurants and hotels (ISIC G-H)                                 10463 non-null  float64
 24   Gross National Income(GNI) in USD                                                          10512 non-null  float64
 25   Gross Domestic Product (GDP)                                                               10512 non-null  float64
dtypes: float64(20), int64(4), object(2)
memory usage: 2.1+ MB

In [8]:
cars_df.groupby('fuelType').model.count()

fuelType
Diesel      40419
Electric        6
Hybrid       3059
Other         246
Petrol      53982
Name: model, dtype: int64

In [5]:
cars_manufacturer_list = cars_df.Manufacturer.unique()
cars_manufacturer_list

array(['hyundi', 'volkswagen', 'BMW', 'skoda', 'ford', 'toyota', 'merc',
       'vauxhall', 'Audi'], dtype=object)

In [6]:
cars_df.isnull().value_counts()

model  year   price  transmission  mileage  fuelType  tax    mpg    engineSize  Manufacturer
False  False  False  False         False    False     False  False  False       False           97712
Name: count, dtype: int64

In [3]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97712 entries, 0 to 97711
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         97712 non-null  object
 1   year          97712 non-null  int64
 2   price         97712 non-null  int64
 3   transmission  97712 non-null  object
 4   mileage       97712 non-null  int64
 5   fuelType      97712 non-null  object
 6   tax           97712 non-null  int64
 7   mpg           97712 non-null  float64
 8   engineSize    97712 non-null  float64
 9   Manufacturer  97712 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 7.5+ MB

In [ ]:
cars_list = cars_df.model.unique()
cars_list